<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⚡ إشعار انقطاع الخدمة الكهربائية</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">

    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body >
    <div id="app">
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand" href="#">⚡ إشعار انقطاع الخدمة الكهربائية</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                إعدادت
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">التفضيلات</a></li>
                                <li><a class="dropdown-item" href="#">الاختيارات</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">تسجيل الخروج</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-3">
            <form action="/api/send" method="get">
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">إشعار انقطاع الخدمة الكهربائية عن</span>
                        <input v-model="total" type="number" name="total" class="form-control" />
                        <span class="input-group-text">مشترك</span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span  class="input-group-text">كبار المشتركين المتأثرين</span>
                        <input v-model="vip" type="number" name="vip" class="form-control" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">الموقع</span>
                        <input type="text" class="form-control" name="location" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">المحطة</span>
                        <input type="text" class="form-control" name="station" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">المغذي</span>
                        <input type="text" class="form-control" name="feeder" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">مصدر العلم بالانقطاع</span>
                        <select class="form-select" name="source_interrupted">
                            <option value="" selected>أختر </option>
                            <option value="SCADA">SCADA</option>
                            <option value="C.Center">C.Center</option>
                            <option value="PCC">PCC</option>
                            <option value="Customer">Customer</option>
                          </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">التاريخ</span>
                        <input type="text" name="date" class="form-control" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">وقت الانقطاع</span>
                        <input type="text" name="time" class="form-control" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">عدد المفاتيح الذكيه على المغذي</span>
                        <input type="number" name="keys_numbers" class="form-control" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">عدد الاستفاده من المفاتيح الذكيه</span>
                        <input type="number" name="uses_number" class="form-control" />
                    </div>
                </div>
                <div class="mb-3">
                    <button @click="step++" type="button" class="btn btn-dark btn-sm">
                        <i class="bi-plus"></i>
                        انشاء خطوة
                    </button>
                </div>
                <div class="step">
                    <div class="mb-3">
                        <p class="fw-bold d-flex justify-content-between">
                            <span>الخطوة الاولي : الحالة</span>
                        </p>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">وقت التشغيل</span>
                            <input type="text" name="fs_time" class="form-control" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">عدد المشتركين</span>
                            <input v-model="fs_total" name="fs_total" type="number" class="form-control" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">المتبقي</span>
                            <input :value="fs_rest || null" disabled name="fs_rest" type="number" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="step" v-for="(i,index) in step" :key="index">
                    <div class="mb-3">
                        <p class="fw-bold d-flex justify-content-between">
                            <span>الخطوة @{{steps[i - 1]}}</span>
                            <button 
                                class="btn btn-dark btn-sm mr-auto"
                                type="button"
                                @click="step--"
                            >
                                <i class="bi-trash3-fill"></i>
                            </button>
                        </p>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">وقت التشغيل</span>
                            <input  type="text" name="time_step[]" class="form-control" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">عدد المشتركين</span>

                            <input 
                            @input="e => {
                                index === 0 ? 
                                $refs.rests[index].value = fs_rest - e.target.value : 
                                $refs.rests[index].value =  $refs.rests[index - 1].value - e.target.value
                            }" 
                                type="number" name="total_step[]" class="form-control"
                            />
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">المتبقي</span>
                            <input ref="rests" type="number" name="rest_step[]" disabled class="rest form-control" />
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">سبب الانقطاع:</span>
                        <input type="text" name="interruption_reason" class="form-control" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">الاجراء المتخذ :</span>
                        <input type="text" name="action_taken" class="form-control" />
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-block btn-dark"><i class="bi-whatsapp me-1"></i> إرسال</button>
                </div>
            </form>
        </div>
        <div class="footer">
            <div class="container">
                <div class="wrapper">2023 Faisal Alsunayni &copy;</div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    steps: [
                        'الثانية',
                        'الثالثة',
                        'الرابعة',
                        'الخامسة',
                        'السادسة',
                        'السابعة',
                        'الثامنة',
                        'العاشرة',
                    ],
                    step: 0,
                    total: null,
                    vip: null,
                    fs_total: null
                }
            },
            computed: {
                fs_rest(){
                    return this.total + this.vip - this.fs_total
                }
            }
        }).mount('#app')

    </script>
</body>

</html>
