https://wa.me/966503431085/?text=
إشعار انقطاع الخدمة الكهربائية عن {{ total }} مشترك
🔸كبار المشتركين المتأثرين: {{ vip }}
🔸الموقع: {{ location }}
🔸المحطة: {{ station }}
🔸المغذي: {{ feeder }}
🔸مصدر العلم بالانقطاع: {{ source_interrupted }}
🔸التاريخ: {{ date }}
🔸وقت الانقطاع: {{ time }}
🔸عدد المفاتيح الذكيه على المغذي: {{ keys_numbers }}
🔸عدد الاستفاده من المفاتيح الذكيه: {{ uses_number }}

الخطوة الاولي : الحالة
🔸وقت التشغيل : {{ fs_time }}
🔸عدد المشتركين : {{ fs_total }} 
@if(time_step)
@each(step in [...Array(time_step.length).keys()])
{{ step + 2 }}
🔸وقت التشغيل: {{ time_step[step] }}
🔸عدد المشتركين: {{ total_step[step] }} 
@end
@end

🔸سبب الانقطاع: {{ interruption_reason }}
🔸الاجراء المتخذ: {{ action_taken }}
